*{margin: 0;
padding: 0;}

body { 
min-width: 1200px;
margin: 0px;
font-family: 'PT Sans', arial, sans-serif:;
} 

/*******************************************************************
LAYOUT
*******************************************************************/

/*OVERALL SETTINGS
*/
.right{float: right;}
.left{float: left;}
.text-center{text-align: center;} 

a{text-decoration: none;
}

div {
display: block;
}
.container { 
width: 960px;
margin: 0 auto;
/*border: 1px solid lightgreen;*/
height: 100%;

} 
.logo { 
margin: 15px;

} 
.logo span{
margin: 15px 15px;
color: black;
font-size: 19px;
font-family: arial;
font-weight: normal;
letter-spacing: 0,5px;
}

/*HEADER*/

header .page-nav_list a{
	color: black;
	font-size: 15px;
	font-family: arial;
	
}

header{height: 75px;
background-color:#ffcd34;}


.page-nav_list{
display: block; 
padding-top: 30px;
}

.page-nav_list a{
	color: black;
	font-size: 15px;
	font-family: arial;
	
}

.page-nav_list li{
	display: inline-block;
	
}
.page-nav_item{
display: inline-block;
 }


.page-nav_item_a{

  color: #98791b;
  margin: 8px;
  padding: 8px;
text-align: center;
 border: solid 2px  transparent;
  border-radius: 2px;
}

.page-nav_item_a:hover{
 border: solid 2px #bc9d36;
  border-radius: 2px; 
  color: #000;
}

.page-nav_item_a:active{
border: solid 2px #796e38;
  border-radius: 2px; 
  color: #000;	
}



.page-nav_item_call{
padding: 10px 10px;
background-color:#ffe184;
color: #000;
border: 2px solid #ffe184;
}

.page-nav_item_call:hover{
border: 2px solid #ffecb2;
padding: 10px 10px;
	
}

li .page-nav_item_call:hover{
border: 2px solid #ffecb2;
padding: 10px 10px;
opacity: 1.0;
background-color:#ffecb2
}

/*FOOTER*/
.logo-footer{
margin: 15px 15px;
color: black;
font-size: 19px;
font-family: arial;
font-weight: normal;
letter-spacing: 0,5px;
}

footer 
.page-nav_list a{
	
	color: white;
	font-size: 15px;
	font-family: arial;

	
}
footer{
	height: 78px;
	background-color: #202e3b;
}


.page-footer_logo-text{
	
	color: #ffcd34;
	
}

.page-nav_item_foo{

  color: #fff;
  margin: 8px;
  padding: 8px;
text-align: center;
 border: solid 2px  transparent;
  border-radius: 2px;

}
.page-nav_item_foo:hover{
border: solid 2px #636d76;
  border-radius: 2px;  
}

.page-nav_call{
  border: solid 2px transparent;
  border-radius: 2px;  
}
.page-nav_call:hover{
 border: solid 2px #636d76;
  border-radius: 2px;   
}
.page-nav_item_foo:active{
 border: solid 2px #a6abb1;
  border-radius: 2px;  
}
.page-nav_call:active{
 border: solid 2px #a6abb1;
  border-radius: 2px; 
}

.page-nav_call:last-child{
  color: #ffcd34;

}


/*MAIN SETTINGS
*/
.promo {position: relative;
height: 462px;
background-image: url(../img/promo-bg.jpg);
-webkit-background-size:cover;
background-size:cover;
background-repeat: no-repeat;
margin-top:14px;
}
.promo:before{
content:"";
position: absolute;
left: 0;
top: -14px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 30%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;}
 
.promo:after{
content:"";
position: absolute;
left: 0;
top: 462px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 30%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;
}

/*ТЕКСТ В ПРОМО */
/*вместе мы справимся
*/
.promo-title{
	color: #fff;
	text-transform: uppercase;
	font-size: 34px;
	font-family: "PT Sans", arial, sans-serif;
	letter-spacing: 0,5px;
	font-weight: 700;
	padding-top: 138px;
	display: inline-block;
}
/*спецтех - это сеть пунктов аренды
*/
.promo-text{
	color: #fff;
	font-size: 15px;
	font-family: arial;
	font-weight: 400;
	padding-top: 36px;
	letter-spacing: 1px;
}
/*перейти в каталог
*/
.button-gocatalog{
color: #fff;
font-size: 15px;
font-family: arial;
font-weight: 600;
letter-spacing: 0,5px;
display: block;
background-color: none;
padding: 10px;
padding-left: 10px;
border: 2px solid  #ffcd34;
margin-right: 360px;
margin-top: 34px; 
margin-left: 380px;
margin-bottom: 118px;
background-repeat: no-repeat; 
background-position-x: 175px;
background-position-y: 10px;
background-image: url(../img/zna4ok-strelka.png);
text-align: left;
}
.button-gocatalog:hover{
border: 2px solid  #ffd966;
}
.button-gocatalog:active{
border: 2px solid  #ffe390;
}

/*BACK CALL
*/

.consult-title{
display: block;
font-size: 18px;
	font-family: arial;
	font-weight: 600;
	padding-top: 45px;
	padding-left: 10px;
	letter-spacing: 1px;
	color: #ffcd34;
}
.wrapper{
	width: 100%;
	min-width: 960px;	
}
.consult{
background-color: #202e3b;	
}
.row {
	width: 960px;
	overflow: hidden;
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
}
form {
	display: block;
margin-top: 10px;
}
.back-call_item{
	text-align: center;
}
.col-3{
	width: 240px;
box-sizing: border-box;
padding: 0px 10px;
float: left;
}

.consult_input{
	border: 1px solid #ffcd34;
height: 42px;
width: 210px;
box-sizing: border-box;
padding: 0px 20px;
background-color: #202e3b;
font-size: 16px;
font-weight: normal;
color: #fff;
cursor: text;
outline: none;
display: inline-block;
margin: 25px 0px 35px 0px;
}

.consult_button{
background-color: #ffcd34;
color: #000;
font-size: 14;
font-weight: bold;
text-align: left;
padding-left: 10px;	
cursor:pointer;
}
.consult_button:hover{
background-color: #ffd966;
opacity: 0.9;	
}
.consult{
width: 100%;
background-color: #202e3b;
} 

.back-call_container{
	position: relative;
	height: 180px;
margin-top: 14px;
}

/*<!-- ADVANTAGES -->*/

.advantages{
	width: 100%;
	height: 135px;
		background-color: #fff;
}
.adv-item div{
	width: 230px;
	
	background-color: #fff;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 30px;
    position: relative;
	float: left;
	text-align: left;
	
}
 

.adv_text {
width: 200px;
margin-right: 0px;
margin-left: 30px;
font-size: 12px;
font-weight: 100;
font-family: arial;
padding-top: 10px;
padding-bottom: 10px;

}
.adv-item_2{
	padding-right: 20px;

}
.adv-item_3{
padding-right: 12px;
}
.adv-item_4{
margin-left: 0;
}
.tools{
	padding-top: 10px;	
	padding-right: 15px;
}
.signal{
	padding: 10px;
	padding-right: 15px;
}
.bord{
	padding: 10px;
	padding-right: 15px;
}
.workers{
	padding: 10px;
	padding-right: 15px;
	margin-left: 0;
	
}

.adv-item:first-child{margin-left: 0;}
.adv-item:last-child{margin-right: 0;}

/*<!-- Вся техника и Спецпредложение -->	
<!-- <ALL TECH MENU> -->*/

.column-technics{
	/*width: 239px;*/
width: 25%;
}

.column-offers{
	width: 702px;
}

.technics{
	height: 400px;
display: block;
position: relative;
background-color: #f3f3f3;
}

/*all technics list MAIN
*/

.technics-title {
padding: 41px 0 38px 0;
font-size: 20px;
font-weight: bold;
font-family: arial;

}
.technics-list {
text-decoration: none;
padding: 0 50px 50px 0;
list-style-type:none; 
color: #353535;
font-size: 15px;
font-family: arial;
line-height: 35px;

}

.technics-list_item a{
	color: #353535;
	text-decoration: underline;	
}

.technics-list_item:hover a{
	color: #353535;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}


/*all-technics list CATALOG
*/

.catalog-technics_title {
padding: 41px 0 38px 0;
font-size: 20px;
font-weight: bold;
font-family: arial;

}
.catalog-technics_list{
	
text-decoration: none;
padding: 0 50px 50px 0;
list-style-type:none; 
color: #353535;
font-size: 15px;
font-family: arial;
line-height: 35px;

}

.catalog-technics_item a{
	color: #353535;
	text-decoration: underline;	
	font-size: 15px;

}

.catalog-technics_item:hover a{
	color: #353535;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	list-style-type: none;
}

.catalog-technics_item:before a{
position: relative;
content: "";
height: 10px;
width: 10px;
background-position: cover;
background: #f3f3f3;
top: 0px;
left: -11px;	
}

.catalog-technics_item:hover:before a{
	position: absolute;
content: ">";
height: 10px;
width: 10px;
background-position: cover;
background: #f3f3f3;
top: 20px;
bottom: 20px;
}



/*button*/
.technics-list_item-download{
	margin-top: 30px;
}

.download-catalog{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	background-color: #354b60;
	border-radius: 0;
	display: inline;
	padding: 15px;
	
}

.wrap-download{
	padding: 35px;
}

.download-catalog:hover{
background-color: #46617a;
}
.download-catalog:active{
background-color: #567999;
}



/*<!-- <SPECIAL OFFER> -->
*/
.offers div{
	vertical-align: top;
}
.offer_title{
position: relative;
text-align: left;
padding: 40px 100px 41px 0;
font-size: 20px;
font-weight: bold;
font-family: arial;
}

table{
width: 100%;
min-width: 50%;
margin:auto;
background-color:#f3f3f3;
text-align: left;
font-family: arial;
font-size: 15px;
font-weight: 200;
position: relative;
border-collapse: collapse;
}
thead{
font-weight: bold;

}
tbody{
font-weight: normal;
position: relative;
	margin:auto;
  }
table thead td{
padding: 10px;
}
 table tbody td{
 padding:10px;
 margin:0;
 background-color:#F3F3F3;
 text-align:left;
vertical-align: inherit;
 border-collapse: collapse;
 }


 table tr:first-child {
background-color: #dfdfdf;
}

 table tbody tr:nth-child(even) td{
background-color: #fff; 	
 }



/*<!-- ABOUT SECTION> -->

*/.feedback{
	position: relative;
	width: 100%;
	height: 436px;
	background-color: #202e3b;

}

.feedback:before{
content:"";
position: absolute;
left: 0;
top: -14px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 30%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;
}

.feedback:after{
content:"";
position: absolute;
left: 0;
top: 426px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 30%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;
}

/*NUMBERS
*/
.column-numbers{
width: 323px;
padding-top: 47px;
padding-bottom: 0px; 
display: block;
float: left;
}
.numbers-title{
	font-weight: normal;
	color: #fff;
	font-size: 20px;
	font-family: arial;
	padding-bottom: 35px;
}
.numbers-item{
	display: block;
	font-weight: bold;
	margin: 0 0 12px 0;
	padding: 0; 
	
	
}
.number-item_title{
	vertical-align: middle;
	display: inline-block;
	margin-top: 0 10px 0 0;
	padding-bottom: 0;
font-size: 36px;
	color: #f1b132;
}
.numbers-item_label{
vertical-align: middle;
display: inline-block;
margin: 0;
padding: 0;
color: #9e9e9e;
font-size: 18px;
font-family: arial;
}


/*REWIEWS
*/

.column-reviews{
	width: 623px;
	padding-top: 47px;
	padding-bottom: 31px;
	display: inline-block;
	
}

.rewiew_title{
	color: #fff;
	font-size: 20px;
	font-family: arial;
	font-weight: 600;
	letter-spacing: 1px;
	display: inline-block;
	padding-bottom: 35px;
}

.rewiew_item{
	overflow: hidden;
	margin-bottom: 16px;
}
.rewiew_item_img{
	float: left;
}

blockquote{
display: block;
}
.rewiew_item_text{
margin: 0;
padding-left: 140px;
color: #fff;
line-height: 20px;	
}
.rewiew_item_text p{
margin-top: 0;
margin-bottom: 12px;
font-style: italic;
font-size: 18px;
color: #fff;
}
.rewiew_item_cite{
font-style: normal;
font-weight: bold;
font-size: 16px;
font-family: arial;
color: #f1b132;
}

/*<!-- Полосатая штука №4 -->*/ 
.map{position: relative;
	height: 500px;


}

/*CATALOG SETTINGS
*/
.row {
	overflow: hidden;
}
.sumit{
	background-color: #eee;
}




/*<!-- subheader>
*/

.catalog-txt{
	float: left;
	display: inline-block;
	text-align: left;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	color: #fff;
	letter-spacing: 0,5px;
	margin-top: 17px;
}

.consulation-button {
	float: left;
text-decoration: none;
	background-size: 40px 125px 40px 125px;
	background-color: #ffcd34; 
	color: #202e3b;
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	
	padding: 15px 15px 15px 15px;
	margin-top: 30px;
margin-left: 0;
}
.consulation-button:hover{
background-color: #ffd966;
}
.consulation-button:active{
	background-color: #f6bf16;
}
.lead {
	display: inline-block;
	float: left;
	text-align: left;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	color: #fff;
letter-spacing: 0,5px;
margin-top: 17px;
}

.column-breadcrumbs{
	width: 700px;
}
.column-consultation{
	width: 250px;
}

.breadcrumbs {padding-left: 0;}
.breadcrumbs ul{
	display: inline-block;

}
.breadcrumbs li{
font-size: 25px;
font-family: arial;
font-weight: 400;
display: inline-block;
float: left;
padding-top: 35px;
}
.breadcrumbs_title a{
color: #ffcd34;	
}

.sumit {position: relative;
	height: 188px;
background-image: url(../img/submenu_catalog.png);
background-repeat: no-repeat;
background-size: cover;
margin-top:14px;
}
.sumit:before {
	content:"";
position: absolute;
left: 0;
top: -14px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 30%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;}
}

/*main
*/
.all-technics_cards{
	height: 960px;

}
/*all_technics
*/
.column-sub{
width: 320px;
}
.column-cards{
	/*border: solid 2px lightgreen;*/
width: 70%;
margin-left: 40px;

}
.column-cards.third div{
overflow: hidden;

}

/*all-technics_cards*/
.all-technics_cards{
	position: relative;
background-size:cover;
background-repeat: no-repeat;
background-color: #f3f3f3;
}

.product-card{
position: relative;
overflow: hidden;
}

.product-card_new:before{
	display: inline-block;
    content: '';
	position: absolute;
    width: 130px;
    height: 34px;
    background: #00c22e;
    right: -32px;
    top: 7px;
    transform: rotate(45deg);
    overflow: hidden;
}

.product-card_new:after{
    content: 'new';
    color: #fff;
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    transform: rotate(45deg);
    top: 18px;
    right: 10px;
}

.product-card_sale:before{
display: inline-block;
    content: '';
	position: absolute;
    width: 130px;
    height: 34px;
    background: #d12222;
    right: -32px;
    top: 7px;
    transform: rotate(45deg);
    overflow: hidden;	
}
.product-card_sale:after{
    content: 'sale';
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    width: 130px;
    height: 34px;
    right: -30px;
    top: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transform: rotate(45deg);
}


/*product-cards
*/

.product-card{
	float: left;
	margin: 10px;
	background-color: #fff;
	width: 250px;
	height: 350px;
	padding: 20px ;
	position: relative;
}
.product-card_title{
	color: #000;
	font-size: 18px;
	font-weight: bold;
	font-family: arial;
	text-align: left;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 10px;
	margin-bottom: 30px;
}
.price {
color: #000; 
font-size: 20px;
font-family: arial;
font-weight: bold;
text-align: left;
margin-top: 30px;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 25px;
}

/*buttons
*/
.button-group{
font-family: arial;
}

a.button{text-decoration: none;
 display: inline-block;
 color: #fff;
 font-size: 15px;
 font-weight: normal;
 padding: 10px 15px;
 margin-top: 
}

a.button.button-light{
background-color: #f3c331;

}
a.button-light:hover{
background-color: #ffd966;
}
a.button-light:active{
background-color: #ffc600;
}

a.button.button-dark{
background-color: #354b60;
}
a.button-dark:hover{
background-color: #46617a;
}
a.button-dark:active{
background-color: #567999;
}


.special-off{
	position: relative;
min-height: 540px;
background-image: url(../img/spezpredlozhenia_section.png);
background-repeat: no-repeat;
background-size: cover;
}


.special-off_title{
color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	text-align: left;
	height: 20px;
margin-top: 40px;
margin-bottom: 30px;
}

.numbering-box{
	display: inline-block;
	height: 24px;
	margin-left: 510px;
	margin-bottom: 10px;
}

.numbering{
	display: inline;
	margin: 2px;
}

.button-numbering{
color: #000;
padding: 4px 4px;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
}


.numbering:hover{
color: #fff;
background-color: #354b60;
border-radius: 2px;

}
.numbering:active{
color: #fff;
}


/*CONTACTS SETTINGS*/
/*submenu
*/
.need-cons {position: relative;
	height: 103px;
background-image: url(../img/submenu_contacty.png);
background-repeat: no-repeat;
background-size: cover;
margin-top:14px;
}
.need-cons:before {
	content:"";
position: absolute;
left: 0;
top: -14px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 30%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;}
}

.consultation-title h2{
	display: inline-block;
color: #ffcd34;
font-size: 25px;
font-weight: normal;
font-family: arial;
padding-top: 38px;
margin: 30px 15px;
}

.need-cons_a{
color: #fff;
font-size: 15px;
margin-top: 38px;
font-family: arial;
}
.map-and-form {
height: 486px;
background-color: #f3f3f3;
}

/*map*/
.column-map{
width: 619px;
height: 480px;
margin: 40px 10px 52px 10px; 
}
/*form
*/
.column-form {
width: 301px;
float: left;		
display: inline-block;
margin: 40px 10px 52px 10px;
}
.form-phone{
margin: 0px;
}
.phone-number{
font-size: 22px;
font-weight: bold;
margin: 5px;

}
.form-email{
margin: 10px;
}
.email-adress{
font-size: 20px;
font-weight: bold;
margin: 10px;
}
.form-txt{
font-size: 15px;
	font-weight: normal;
	font-family: arial;
	text-align: left;
	margin: 10px;
	line-height: 25px;
	
}
.action{
	width: 300px;
	margin: 0 auto;
	padding: 0 auto;
}
.input{
	margin: 5px;
}

.input_name{
width: 300px;
height: 39px;
}

.input_number{
width: 300px;
height: 39px;
}
.input_description{
	width: 300px;
	height: 96px;

}
.input-button{
	background-color: #354b60;
	color: #fff;
	display: inline-block;
	float: left;
text-decoration: none;
	padding: 16px 56px 16px 62px;
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	margin-top: 10px;
border: none;
}

input, textarea, .input-button {
	outline: none;
}


/*feedback
*/
.crew{
	height: 446px;

}
.crew-container{
	position: relative;
	
}
.crew-title{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	margin-bottom: 40px;
	color: #202e3b;
	position: absolute;
	top: 20px;
}

.crew-txt{
	font-size: 13px;
	font-weight: normal;
	font-family: arial;
	font-style: italic;
	text-align: center;
	line-height: 18px;
color: #202e3b;	
margin-bottom: 20px;

}

.crew-img{
margin-bottom: 20px;
}

.crew-cite{

font-size: 12px;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	margin-top: 18px;
	font-style: normal;
	color: #202e3b;

		
}
.column-crew{
	width: 235px;	
	float: left;
	margin: 0px;
	padding-top: 36px;
	margin-right: 5px;
}






/*PORTFOLIO SETTINGS
*/
/*submenu*/
.column-portfolio{display: inline-block;}


.sub-menu{position: relative;
	height: 104px;
background-image: url(../img/submenu_portfolio.png);
background-repeat: no-repeat;
background-size: cover;
margin-top:14px;
}

.sub-menu:before{
	content:"";
position: absolute;
left: 0;
top: -14px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 30%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;}
}
.column-portfolio{

}
.portfolio_title {
display: block;
	font-size: 18px;
	font-family: arial;
	font-weight: 400;
	padding-top: 35px;
	padding-left: 25px;
	letter-spacing: 1px;
	color: #ffcd34;
}

.column-allwork ul li{
	display: inline-block;
text-decoration: underline;
}
.column-allwork li{
	padding: 15px 15px 15px 15px;
	margin-top: 20px;
	font-weight: 400;
	font-family: arial;
	font-size: 15px;
	
}
.menu_item a{
	color: #fff;
font-weight: 400px;
	
}

.menu_item:hover{
font-weight: bold;

}

/*fony-doma
*/
section.portfolio_item{
min-height: 512px;
}
.portfolio_item.portfolio_item-1{
width: 100%;
	height: 500px;
position: relative;
background-image: url(../img/dom_1.png);
-webkit-background-size:cover;
background-size:cover;
background-repeat: no-repeat;
margin-top:10px;		
}

.portfolio_item.portfolio_item-2{
width: 100%;
	height: 500px;
position: relative;
background-image: url(../img/dom_2.png);
-webkit-background-size:cover;
background-size:cover;
background-repeat: no-repeat;
margin-top:10px;		
}

.portfolio_item.portfolio_item-3{
width: 100%;
	height: 500px;
position: relative;
background-image: url(../img/dom_3.png);
-webkit-background-size:cover;
background-size:cover;
background-repeat: no-repeat;
margin-top:10px;	
}


/*cards portfolio-cart
*/

.portfolio_item{
	display: inline-block;
	padding: 40px;
}
.portfolio-cart{
	background-color: #fff;
	text-align: left;
	width: 322px;
	height: 245px;
	padding: 26px 26px 0px 26px;

}
.portfolio-cart_title{
color: #202e3b;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;	
}
.portfolio-cart_txt{
	color: #202e3b;
	font-size: 15px;
	font-family: arial;
	font-weight: 400;
	padding-top: 10px;
	line-height: 20px;

}

.portfolio-cart_a{
	text-decoration: none;
	background-color: #ffcd34; 
	color: #202e3b;
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	
	padding: 10px 30px 10px 10px;
	margin-top: 30px;
	

}

/*back call form
*/

.consult-title{
display: block;

	font-size: 18px;
	font-family: arial;
	font-weight: 600;
	padding-top: 45px;
	padding-left: 10px;
	letter-spacing: 1px;
	color: #ffcd34;
}
.wrapper{
	width: 100%;
	min-width: 960px;	
}
.consult{
background-color: #202e3b;	
}
.row {
	width: 960px;
	overflow: hidden;
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
}
form {
	display: block;
margin-top: 10px;
}
.back-call_item{
	text-align: center;
}
.col-3{
	width: 240px;
box-sizing: border-box;
padding: 0px 10px;
float: left;
}

.consult_input{
	border: 1px solid #ffcd34;
height: 42px;
width: 210px;
box-sizing: border-box;
padding: 0px 20px;
background-color: #202e3b;
font-size: 16px;
font-weight: normal;
color: #fff;
cursor: text;
outline: none;
display: inline-block;
float: left;
margin: 20px 0px 20px 0px;
}

.consult_button{
background-color: #ffcd34;
color: #000;
font-size: 14;
font-weight: bold;
text-align: left;
padding-left: 10px;	
cursor:pointer;
}
.consult_button:hover{
background-color: #ffd966;	
}
.consult_button:{
background-color: #f6bf16;
}
.consult{
width: 100%;
background-color: #202e3b;
} 

.back-call_container{
	position: relative;
	height: 180px;
margin-top: 14px;
}

/*polosa
*/
.consult:before {
content:"";
position: absolute;
left: 0;
top: -14px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 30%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 14px;
background-repeat: repeat-x;
}

